html
	head
		title Login
	body
		h1 Login Page
		hr
		form(method="post")
			table
				tr
					td
						label userName
					td
						input(type="text" name="login")
				tr
					td
						label password
					td
						input(type="password" name="password")
			input(type="submit" name="")